//*header-section-start
.navbar-bg-white {
    background-color: #fff;
}

.navbar {
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;

    .header-logo {
        text-decoration: none;
        color: $base-font-color;
        font-family: $heading-font-family;
        font-style: normal;
        font-weight: $base-font-weight;
        font-size: $base-font-size;
        line-height: 0.88;
        text-align: center;
        text-transform: lowercase;

        img {
            max-width: 100%;
            padding-right: 10px;
        }
    }

    .navbar-nav {
        .nav-item {
            .active {
                color: $base-color;
            }
        }

        .nav-link {
            margin: 0 20px;
            text-transform: capitalize;
            font-size: $base-font-size -2;
            line-height: 1;
            color: $base-font-color;
            font-weight: $base-font-weight -100;
            font-family: $heading-font-family;

            @media (min-width: 992px) {
                line-height: 71px;
            }

            &.active,
            &:hover {
                color: $base-color;
            }
        }

        .dropdown-menu {
            background: #FDF5F6;
            border-radius: 3px;
            padding: 15px;
            top: 95px;

            .dropdown-item {
                font-size: 18px;
                font-weight: $base-font-weight;
                padding: 10px 25px 10px 10px;

                &:focus {
                    border: none;
                }

                &:hover {
                    background-color: rgba($base-color, 0.15);
                    transition: 0.4s;
                    border-radius: 3px;
                }
            }

            .b-none {
                border: none;
            }

            .bold {
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                color: #000000;
                text-align: center;

                i {
                    background-color: #fe676e;
                    color: white;
                    padding: 8px 8px;
                    border-radius: 100%;
                    font-size: 12px;
                    margin-right: 10px;
                    margin-left: 0;
                }
            }

            .light {
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #4A4A4A;

                i {
                    margin-left: 10px;
                    margin-right: 10px;
                    color: #fe676e;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .border-bottom {
                display: block;
                border-bottom: 0.8px solid rgba(200, 200, 200, 0.46);
                margin: 10px 15px;
            }

            .ml-0 {
                margin-left: 0;
            }

            .active {
                background-color: transparent;
                color: $base-color;
            }
        }
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        .navbar-nav {
            .nav-link {
                margin: 10px 0;
            }
        }
        .navbar-toggler {
            border: 1px solid $base-color;
        }
        .navbar-toggler-icon{
            height: 1em;
            width: 1em;
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        .header-logo {
            img {
                max-width: 25%;
            }
        }
        .navbar-nav {
            .nav-link {
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .navbar {
        .navbar-nav {
            .nav-link {
                margin: 10px 0;
            }
        }
    }
}
//*header-section-end