.site {
  overflow: hidden;
}

.py-87 {
  padding-top: 87px;
  padding-bottom: 87px;
}
@media (max-width: 1199px) {
  .py-87 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .py-87 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .py-87 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .py-87 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 414px) {
  .py-87 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .py-120 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 991px) {
  .py-120 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .py-120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .py-120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .py-120 .px-18 {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 414px) {
  .py-120 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .py-120 .px-18 {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .py-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .py-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .py-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 414px) {
  .py-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1199px) {
  .py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .py-30 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 414px) {
  .py-30 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-bg-white {
  background-color: #fff;
}

.navbar {
  padding: 10px 0;
  border-bottom: 1px solid #F1F1F1;
}
.navbar .header-logo {
  text-decoration: none;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.88;
  text-align: center;
  text-transform: lowercase;
}
.navbar .header-logo img {
  max-width: 100%;
  padding-right: 10px;
}
.navbar .navbar-nav .nav-item .active {
  color: #FF5733;
}
.navbar .navbar-nav .nav-link {
  margin: 0 20px;
  text-transform: capitalize;
  font-size: 16px -2;
  line-height: 1;
  color: #222222;
  font-weight: 500 -100;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    line-height: 71px;
  }
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover {
  color: #FF5733;
}
.navbar .navbar-nav .dropdown-menu {
  background: #FDF5F6;
  border-radius: 3px;
  padding: 15px;
  top: 95px;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 25px 10px 10px;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus {
  border: none;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 87, 51, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}
.navbar .navbar-nav .dropdown-menu .b-none {
  border: none;
}
.navbar .navbar-nav .dropdown-menu .bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  text-align: center;
}
.navbar .navbar-nav .dropdown-menu .bold i {
  background-color: #fe676e;
  color: white;
  padding: 8px 8px;
  border-radius: 100%;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 0;
}
.navbar .navbar-nav .dropdown-menu .light {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #4A4A4A;
}
.navbar .navbar-nav .dropdown-menu .light i {
  margin-left: 10px;
  margin-right: 10px;
  color: #fe676e;
  font-weight: 500;
  font-size: 12px;
}
.navbar .navbar-nav .dropdown-menu .border-bottom {
  display: block;
  border-bottom: 0.8px solid rgba(200, 200, 200, 0.46);
  margin: 10px 15px;
}
.navbar .navbar-nav .dropdown-menu .ml-0 {
  margin-left: 0;
}
.navbar .navbar-nav .dropdown-menu .active {
  background-color: transparent;
  color: #FF5733;
}
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin: 10px 0;
  }
  .navbar .navbar-toggler {
    border: 1px solid #FF5733;
  }
  .navbar .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }
}
@media (max-width: 767px) {
  .navbar .header-logo img {
    max-width: 25%;
  }
  .navbar .navbar-nav .nav-link {
    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  .navbar .navbar-nav .nav-link {
    margin: 10px 0;
  }
}
.banner-bg-home {
  background-image: url(../img/home/banner-bg.jpg);
  background-size: cover;
}

.banner-img {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  padding: 10px 0;
}
.banner-img img {
  max-width: 100%;
  border-radius: 100%;
}
.banner-img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/home/owner-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner-heading {
  margin-bottom: 30px;
}
.banner-heading h1 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #FF5733;
}

.banner-content {
  color: #222222;
  text-align: center;
  padding-bottom: 100px;
}
.banner-content__heading {
  margin: 0 250px 30px;
}
.banner-content__heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
}
.banner-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  margin: 0 350px 40px;
}
.banner-content__btn-thm {
  display: inline-block;
  background: #FF5733;
  border-radius: 50px;
  padding: 15px 35px;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.93;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border: 1px solid transparent;
}
.banner-content__btn-thm:hover {
  background-color: transparent;
  color: #FF5733;
  border: 1px solid #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-logo__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-logo__item img {
  width: auto !important;
  opacity: 0.8;
}

@media (max-width: 1199px) {
  .banner-content {
    padding-bottom: 150px;
  }
  .banner-content__heading {
    margin: 0 0 30px;
  }
  .banner-content__heading h2 {
    font-size: 54px;
  }
  .banner-content p {
    font-size: 18px;
    line-height: 1.66;
    margin: 0 120px 40px;
  }

  .banner-logo {
    padding: 20px 0;
  }
}
@media (max-width: 991px) {
  .banner-heading {
    margin-bottom: 30px;
  }
  .banner-heading h1 {
    font-size: 20px;
  }

  .banner-content {
    padding-bottom: 100px;
  }
  .banner-content__heading {
    margin: 0 0 18px;
  }
  .banner-content__heading h2 {
    font-size: 44px;
  }
  .banner-content p {
    font-size: 16px;
    margin: 0 75px 18px;
  }

  .banner-logo {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .banner-heading {
    margin-bottom: 20px;
  }
  .banner-heading h1 {
    font-size: 18px;
  }

  .banner-content {
    padding-bottom: 60px;
  }
  .banner-content__heading {
    margin: 0 0 18px;
  }
  .banner-content__heading h2 {
    font-size: 34px;
    line-height: 50px;
  }
  .banner-content p {
    font-size: 16px;
    margin: 0 65px 18px;
  }

  .banner-logo {
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  .banner-img {
    margin-bottom: 30px;
    padding: 10px 0;
  }
  .banner-img img {
    max-width: 25%;
  }

  .banner-heading {
    margin-bottom: 20px;
  }
  .banner-heading h1 {
    font-size: 18px;
  }

  .banner-content {
    padding-bottom: 60px;
  }
  .banner-content__heading {
    margin: 0 0 10px;
  }
  .banner-content__heading h2 {
    font-size: 24px;
    line-height: 40px;
  }
  .banner-content p {
    font-size: 16px;
    margin: 0 65px 18px;
  }
  .banner-content__btn-thm {
    padding: 10px 25px;
    font-size: 16px;
  }

  .banner-logo {
    padding: 10px 40px;
  }
  .banner-logo__item img {
    max-width: 50% !important;
  }
}
@media (max-width: 480px) {
  .banner-img {
    margin-bottom: 10px;
    padding: 10px 0;
  }
  .banner-img img {
    max-width: 30%;
  }

  .banner-heading {
    margin-bottom: 20px;
  }
  .banner-heading h1 {
    font-size: 18px;
  }

  .banner-content {
    padding-bottom: 40px;
  }
  .banner-content__heading {
    margin: 0 0 10px;
  }
  .banner-content__heading h2 {
    font-size: 24px;
    line-height: 40px;
  }
  .banner-content p {
    font-size: 16px;
    margin: 0 25px 18px;
  }
  .banner-content__btn-thm {
    padding: 10px 25px;
    font-size: 16px;
  }

  .banner-logo {
    padding: 10px 40px;
  }
  .banner-logo__item img {
    max-width: 60% !important;
  }
}
.content-bg {
  background-color: white;
}

.bg-ash {
  position: relative;
  z-index: 0;
}
.bg-ash:before {
  position: absolute;
  content: "";
  width: 810px;
  height: 365px;
  background-color: #F9F9F9;
  background-position: center;
  top: -73px;
  right: 320px;
  z-index: -1;
}

.content-heading {
  text-align: left;
}
.content-heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  text-transform: capitalize;
  color: #222222;
}

.content-details {
  text-align: left;
}
.content-details p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 18px;
  line-height: 30px;
  color: #888888;
}

@media (max-width: 1199px) {
  .bg-ash:before {
    width: 600px;
    height: 330px;
    top: -60px;
    right: 200px;
  }

  .content-heading h2 {
    font-size: 38px;
    margin: 10px 0 0;
  }

  .content-details p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .bg-ash:before {
    width: 740px;
    height: 460px;
    top: -28px;
    right: 0px;
  }

  .content-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .content-heading h2 {
    font-size: 48px;
    margin-bottom: 0;
  }

  .content-details {
    text-align: center;
    padding: 0 30px;
  }
  .content-details p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .bg-ash:before {
    width: 590px;
    height: 420px;
    top: -12px;
    right: -15px;
  }

  .content-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .content-heading h2 {
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 0;
  }

  .content-details {
    text-align: center;
    padding: 0;
  }
  .content-details p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .bg-ash:before {
    width: 100%;
    height: 370px;
    top: -12px;
    right: -15px;
  }

  .content-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .content-heading h2 {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 0;
  }

  .content-details {
    text-align: center;
    padding: 0 50px;
  }
  .content-details p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .bg-ash:before {
    width: 100%;
    height: 410px;
    top: -12px;
    right: -15px;
  }

  .content-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .content-heading h2 {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .content-details {
    text-align: center;
    padding: 0 20px;
  }
  .content-details p {
    font-size: 16px;
  }
}
.service-bg {
  background-color: white;
}

.service-heading {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}
.service-heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.31;
  color: #222222;
}
.service-heading img {
  margin-top: -20px;
  margin-left: 250px;
  max-width: 100%;
}

.bg-as {
  position: relative;
  z-index: 0;
}
.bg-as:before {
  position: absolute;
  content: "";
  width: 1470px;
  height: 265px;
  background-color: #F9F9F9;
  background-position: center;
  bottom: -82px;
  right: -65px;
  z-index: -1;
}

.service-card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 40px;
  text-transform: capitalize;
}
.service-card__img {
  padding-bottom: 30px;
  display: inline-block;
}
.service-card__img img {
  max-width: 100%;
}
.service-card__heading {
  margin-bottom: 20px;
}
.service-card__heading h3 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #222222;
}
.service-card__details {
  margin-bottom: 20px;
}
.service-card__details p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 16px;
  line-height: 1.62;
  color: #888888;
}
.service-card__link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.93;
  color: #FF5733;
  position: relative;
}
.service-card__link i {
  margin-left: 10px;
}
.service-card__link:hover {
  color: #222222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.service-card__link:before, .service-card__link:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #FF5733;
}
.service-card__link:before {
  left: 0;
}
.service-card__link:after {
  right: 0;
  background: #FF5733;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.service-card__link:hover:before {
  background: #FF5733;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.service-card__link:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1199px) {
  .service-heading {
    margin-bottom: 40px;
  }
  .service-heading h2 {
    font-size: 38px;
  }
  .service-heading img {
    margin-top: -31px;
    margin-left: 187px;
    max-width: 16%;
  }

  .bg-as:before {
    width: 1040px;
    height: 230px;
    bottom: -52px;
    right: -27px;
  }

  .service-card {
    padding: 30px 20px;
  }
  .service-card__img {
    padding-bottom: 20px;
  }
  .service-card__img img {
    max-width: 100%;
  }
  .service-card__heading {
    margin-bottom: 20px;
  }
  .service-card__heading h3 {
    font-size: 20px;
  }
  .service-card__details {
    margin-bottom: 20px;
  }
  .service-card__details p {
    font-size: 16px;
    line-height: 1.4;
  }
  .service-card__link {
    font-size: 16px;
  }
  .service-card__link i {
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  .service-heading {
    margin-bottom: 20px;
  }
  .service-heading h2 {
    font-size: 38px;
  }
  .service-heading img {
    margin-top: -31px;
    margin-left: 187px;
    max-width: 21%;
  }

  .bg-as:before {
    width: 795px;
    height: 230px;
    bottom: -50px;
    right: -27px;
  }

  .service-card {
    padding: 20px;
  }
  .service-card__img {
    padding-bottom: 20px;
  }
  .service-card__img img {
    max-width: 100%;
  }
  .service-card__heading {
    margin-bottom: 10px;
  }
  .service-card__heading h3 {
    font-size: 18px;
  }
  .service-card__details {
    margin-bottom: 20px;
  }
  .service-card__details p {
    font-size: 14px;
    line-height: 1.4;
  }
  .service-card__link {
    font-size: 14px;
  }
  .service-card__link i {
    margin-left: 5px;
  }
}
@media (max-width: 767px) {
  .service-heading {
    margin-bottom: 50px;
  }
  .service-heading h2 {
    font-size: 38px;
  }
  .service-heading img {
    margin-top: -31px;
    margin-left: 187px;
    max-width: 30%;
  }

  .bg-as:before {
    width: 591px;
    height: 1095px;
    bottom: -38px;
    right: -14px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .service-card {
    padding: 30px 56px;
  }
  .service-card__img {
    padding-bottom: 20px;
  }
  .service-card__img img {
    max-width: 100%;
  }
  .service-card__heading {
    margin-bottom: 20px;
  }
  .service-card__heading h3 {
    font-size: 22px;
  }
  .service-card__details {
    margin-bottom: 20px;
  }
  .service-card__details p {
    font-size: 16px;
    line-height: 1.4;
  }
  .service-card__link {
    font-size: 16px;
  }
  .service-card__link i {
    margin-left: 5px;
  }
}
@media (max-width: 600px) {
  .service-heading {
    margin-bottom: 50px;
  }
  .service-heading h2 {
    font-size: 38px;
  }
  .service-heading img {
    margin-top: -31px;
    margin-left: 187px;
    max-width: 30%;
  }

  .bg-as:before {
    width: 591px;
    height: 1095px;
    bottom: -38px;
    right: -14px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mx-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .service-card {
    padding: 30px 46px;
  }
  .service-card__img {
    padding-bottom: 20px;
  }
  .service-card__img img {
    max-width: 100%;
  }
  .service-card__heading {
    margin-bottom: 20px;
  }
  .service-card__heading h3 {
    font-size: 22px;
  }
  .service-card__details {
    margin-bottom: 20px;
  }
  .service-card__details p {
    font-size: 16px;
    line-height: 1.4;
  }
  .service-card__link {
    font-size: 16px;
  }
  .service-card__link i {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .service-heading {
    margin-bottom: 40px;
  }
  .service-heading h2 {
    font-size: 28px;
  }
  .service-heading img {
    margin-top: -31px;
    margin-left: 137px;
    max-width: 27%;
  }

  .bg-as:before {
    width: 100%;
    height: 1150px;
    bottom: -32px;
    right: -14px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mx-40 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .service-card {
    padding: 30px;
  }
  .service-card__img {
    padding-bottom: 20px;
  }
  .service-card__img img {
    max-width: 100%;
  }
  .service-card__heading {
    margin-bottom: 20px;
  }
  .service-card__heading h3 {
    font-size: 22px;
  }
  .service-card__details {
    margin-bottom: 20px;
  }
  .service-card__details p {
    font-size: 16px;
    line-height: 1.4;
  }
  .service-card__link {
    font-size: 16px;
  }
  .service-card__link i {
    margin-left: 5px;
  }
}
.experience-bg {
  background-color: white;
}

.experience__heading {
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
}
.experience__heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.31;
  text-transform: capitalize;
  color: #222222;
  position: relative;
  z-index: 0;
}
.experience__heading img {
  margin-top: -20px;
  margin-left: 129px;
  max-width: 100%;
}
.experience__details {
  margin-bottom: 20px;
}
.experience__details p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 18px;
  line-height: 1.5;
  color: #888888;
}
.experience__desh-line {
  background-color: transparent;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 50px;
}
.experience__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.experience__count-details {
  background: #F9F9F9;
  padding: 20px;
  text-align: left;
}
.experience__count-details span {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.31;
  text-transform: capitalize;
  color: #FF5733;
}
.experience__count-details p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 16px;
  line-height: 1.6;
  color: #888888;
  margin: 10px 0 0;
}

.designer {
  margin-left: 100px;
}
.designer .mb-50 {
  margin-bottom: 50px;
}
.designer__details-tag {
  font-family: "Noticia Text", serif;
  font-style: normal;
  text-transform: capitalize;
}
.designer__details-tag h3 {
  font-weight: 500 -100;
  font-size: 24px;
  line-height: 1;
  color: #555555;
  margin-bottom: 15px;
}
.designer__details-tag h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #222222;
}
.designer__details-dash-line {
  background-color: transparent;
  border-bottom: 1px solid #E2E2E2;
  margin: 20px 0 10px;
}
.designer__details-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 16px;
  line-height: 1.6;
  color: #777777;
}
.designer__details-area h5 {
  margin: 0;
  font-weight: 500 -100;
  font-size: 16px;
  line-height: 1.6;
}
.designer__details-area h6 {
  margin: 0;
  font-weight: 500 -100;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 1199px) {
  .experience__heading {
    margin-bottom: 30px;
  }
  .experience__heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .experience__heading img {
    margin-top: -20px;
    margin-left: 103px;
    max-width: 56%;
  }
  .experience__details {
    margin-bottom: 20px;
  }
  .experience__details p {
    font-size: 18px;
    line-height: 1.5;
  }
  .experience__desh-line {
    margin-bottom: 40px;
  }
  .experience__count {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .experience__count-details {
    padding: 15px;
  }
  .experience__count-details span {
    font-size: 38px;
    line-height: 1.31;
  }
  .experience__count-details p {
    font-size: 16px;
    line-height: 1.6;
  }

  .designer {
    margin-left: 40px;
    margin-top: 10px;
  }
  .designer .mb-50 {
    margin-bottom: 60px;
  }
  .designer__details-tag h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .designer__details-tag h4 {
    font-size: 32px;
  }
  .designer__details-dash-line {
    margin: 15px 0 10px;
  }
  .designer__details-area h5 {
    font-size: 16px;
    line-height: 1.6;
  }
  .designer__details-area h6 {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media (max-width: 991px) {
  .experience__heading {
    margin-bottom: 0px;
  }
  .experience__heading h2 {
    font-size: 27px;
    line-height: 1.31;
  }
  .experience__heading img {
    margin-top: -30px;
    margin-left: 71px;
    max-width: 56%;
  }
  .experience__details {
    margin-bottom: 15px;
  }
  .experience__details p {
    font-size: 16px;
    line-height: 1.5;
  }
  .experience__desh-line {
    margin-bottom: 30px;
  }
  .experience__count {
    gap: 10px;
  }
  .experience__count-details {
    padding: 10px;
  }
  .experience__count-details span {
    font-size: 28px;
    line-height: 1.31;
  }
  .experience__count-details p {
    font-size: 16px;
    line-height: 1.6;
  }

  .designer {
    margin-left: 20px;
    margin-top: 20px;
  }
  .designer .mb-50 {
    margin-bottom: 40px;
  }
  .designer__details-tag h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .designer__details-tag h4 {
    font-size: 28px;
  }
  .designer__details-dash-line {
    margin: 15px 0 10px;
  }
  .designer__details-area h5 {
    font-size: 12px;
    line-height: 1.6;
  }
  .designer__details-area h6 {
    font-size: 12px;
    line-height: 1.6;
  }
}
@media (max-width: 767px) {
  .experience {
    margin-bottom: 80px;
  }
  .experience__heading {
    margin-bottom: 20px;
  }
  .experience__heading h2 {
    font-size: 28px;
    line-height: 1.31;
  }
  .experience__heading img {
    margin-top: -30px;
    margin-left: 314px;
    max-width: 28%;
  }
  .experience__details {
    margin-bottom: 15px;
  }
  .experience__details p {
    font-size: 16px;
    line-height: 1.5;
  }
  .experience__desh-line {
    margin-bottom: 30px;
  }
  .experience__count {
    gap: 30px;
  }
  .experience__count-details {
    padding: 10px;
  }
  .experience__count-details span {
    font-size: 28px;
    line-height: 1.31;
  }
  .experience__count-details p {
    font-size: 16px;
    line-height: 1.6;
  }

  .designer {
    margin-left: 0;
    margin-top: 0;
  }
  .designer .mb-50 {
    margin-bottom: 40px;
  }
  .designer__details-tag h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .designer__details-tag h4 {
    font-size: 28px;
  }
  .designer__details-dash-line {
    margin: 15px 0 10px;
  }
  .designer__details-area h5 {
    font-size: 14px;
    line-height: 1.6;
  }
  .designer__details-area h6 {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (max-width: 600px) {
  .experience {
    margin: 0 40px 60px;
  }
  .experience__heading {
    margin-bottom: 10px;
  }
  .experience__heading h2 {
    font-size: 25px;
    line-height: 1.31;
  }
  .experience__heading img {
    margin-top: -30px;
    margin-left: 279px;
    max-width: 28%;
  }
  .experience__details {
    margin-bottom: 15px;
  }
  .experience__details p {
    font-size: 16px;
    line-height: 1.5;
  }
  .experience__desh-line {
    margin-bottom: 25px;
  }
  .experience__count {
    gap: 30px;
  }
  .experience__count-details {
    padding: 10px;
  }
  .experience__count-details span {
    font-size: 28px;
    line-height: 1.31;
  }
  .experience__count-details p {
    font-size: 16px;
    line-height: 1.6;
  }

  .designer {
    margin: 0 40px 0;
  }
  .designer .mb-50 {
    margin-bottom: 40px;
  }
  .designer__details-tag h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .designer__details-tag h4 {
    font-size: 28px;
  }
  .designer__details-dash-line {
    margin: 15px 0 10px;
  }
  .designer__details-area h5 {
    font-size: 14px;
    line-height: 1.6;
  }
  .designer__details-area h6 {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (max-width: 480px) {
  .experience {
    margin: 40px 20px 60px;
  }
  .experience__heading {
    margin-bottom: 10px;
  }
  .experience__heading h2 {
    font-size: 28px;
    line-height: 1.31;
  }
  .experience__heading img {
    margin-top: -30px;
    margin-left: 0;
    max-width: 49%;
  }
  .experience__details {
    margin-bottom: 15px;
  }
  .experience__details p {
    font-size: 16px;
    line-height: 1.5;
  }
  .experience__desh-line {
    margin-bottom: 25px;
  }
  .experience__count {
    gap: 20px;
  }
  .experience__count-details {
    padding: 10px;
  }
  .experience__count-details span {
    font-size: 32px;
    line-height: 1.31;
  }
  .experience__count-details p {
    font-size: 16px;
    line-height: 1.6;
  }

  .designer {
    margin: 0 20px 0;
  }
  .designer .mb-50 {
    margin-bottom: 40px;
  }
  .designer__details-tag h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .designer__details-tag h4 {
    font-size: 26px;
  }
  .designer__details-dash-line {
    margin: 15px 0 10px;
  }
  .designer__details-area h5 {
    font-size: 14px;
    line-height: 1.6;
  }
  .designer__details-area h6 {
    font-size: 14px;
    line-height: 1.6;
  }
}
.testimonial-bg {
  background-color: #fff;
}

.testimonial-heading {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}
.testimonial-heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.31;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
}
.testimonial-heading img {
  margin-top: -29px;
  margin-left: 565px;
  max-width: 100%;
}

.testimonial {
  background-color: #F9F9F9;
}
.testimonial__item {
  padding: 50px 50px 0;
  gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonial__content {
  margin-top: 50px;
  padding: 60px 30px 50px 80px;
  position: relative;
  z-index: 0;
}
.testimonial__content:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/home/qota.svg);
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.testimonial__content-details {
  margin-bottom: 20px;
}
.testimonial__content-details p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 24px;
  line-height: 1.41;
  color: #888888;
}
.testimonial__content-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.testimonial__content-owner-img img {
  border-radius: 100%;
  max-width: 100%;
}
.testimonial__content-owner-name h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #222222;
  margin-bottom: 10px;
}
.testimonial__content-owner-name h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #777777;
  margin-bottom: 0;
}
.testimonial__content-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.testimonial__content-arrow-icon {
  text-decoration: none;
  background: #EFEFEF;
  border-radius: 100%;
  padding: 10px 15px;
  color: #AAAAAA;
  border: 1px solid transparent;
}
.testimonial__content-arrow-icon:hover {
  background-color: transparent;
  border: 1px solid #FF5733;
  color: #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.testimonial .owl-carousel .owl-item img {
  display: block;
  width: auto !important;
}
.testimonial .owl-nav {
  margin: 0;
  padding: 40px 0;
}
.testimonial .owl-nav .owl-prev {
  margin-right: 25px;
}
.testimonial .owl-nav .owl-prev i {
  background: #EFEFEF;
  border-radius: 100%;
  padding: 15px;
  border: 1px solid transparent;
  color: #AAAAAA;
}
.testimonial .owl-nav .owl-prev i:hover {
  background-color: transparent;
  color: #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #FF5733;
}
.testimonial .owl-nav .owl-next {
  margin-left: 25px;
}
.testimonial .owl-nav .owl-next i {
  background: #EFEFEF;
  border-radius: 100%;
  padding: 15px;
  border: 1px solid transparent;
  color: #AAAAAA;
}
.testimonial .owl-nav .owl-next i:hover {
  background-color: transparent;
  color: #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #FF5733;
}
.testimonial .owl-theme .owl-nav [class*=owl-] {
  border-radius: 100%;
}
.testimonial .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
}

@media (max-width: 1199px) {
  .testimonial-heading {
    margin-bottom: 45px;
  }
  .testimonial-heading h2 {
    font-size: 48px;
    line-height: 1.31;
  }
  .testimonial-heading img {
    margin-top: -29px;
    margin-left: 400px;
    max-width: 26%;
  }

  .testimonial__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .testimonial__content {
    padding: 0px;
  }
  .testimonial__content:before {
    top: -60px;
    left: -26px;
  }
  .testimonial__content-details {
    margin-bottom: 20px;
  }
  .testimonial__content-details p {
    font-size: 24px;
    line-height: 1.41;
  }
  .testimonial__content-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .testimonial__content-owner-img img {
    border-radius: 100%;
    max-width: 100%;
  }
  .testimonial__content-owner-name h3 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .testimonial__content-owner-name h4 {
    font-size: 16px;
    line-height: 1;
  }
  .testimonial .owl-carousel .owl-item img {
    display: block;
    width: auto !important;
  }
  .testimonial .owl-nav {
    margin: 0;
    padding: 40px 0;
  }
  .testimonial .owl-nav .owl-prev {
    margin-right: 25px;
  }
  .testimonial .owl-nav .owl-prev i {
    padding: 15px;
  }
  .testimonial .owl-nav .owl-next {
    margin-left: 25px;
  }
  .testimonial .owl-nav .owl-next i {
    padding: 15px;
  }
}
@media (max-width: 991px) {
  .testimonial-heading {
    margin-bottom: 45px;
  }
  .testimonial-heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .testimonial-heading img {
    margin-top: -29px;
    margin-left: 284px;
    max-width: 31%;
  }

  .testimonial__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .testimonial__content {
    padding: 0 0 0 50px;
    position: relative;
    z-index: 0;
  }
  .testimonial__content:before {
    top: -60px;
    left: 10px;
  }
  .testimonial__content-details {
    margin-bottom: 20px;
  }
  .testimonial__content-details p {
    font-size: 24px;
    line-height: 1.41;
  }
  .testimonial__content-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .testimonial__content-owner-name h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .testimonial__content-owner-name h4 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .testimonial .owl-carousel .owl-item img {
    display: block;
    width: auto !important;
  }
  .testimonial .owl-nav {
    margin: 0;
    padding: 40px 0;
  }
  .testimonial .owl-nav .owl-prev {
    margin-right: 25px;
  }
  .testimonial .owl-nav .owl-prev i {
    padding: 15px;
  }
  .testimonial .owl-nav .owl-next {
    margin-left: 25px;
  }
  .testimonial .owl-nav .owl-next i {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .testimonial-heading {
    margin-bottom: 25px;
  }
  .testimonial-heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .testimonial-heading img {
    margin-top: -29px;
    margin-left: 185px;
    max-width: 44%;
  }

  .testimonial__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .testimonial__content {
    padding: 0 0 0 50px;
    position: relative;
    z-index: 0;
  }
  .testimonial__content:before {
    top: -60px;
    left: 10px;
  }
  .testimonial__content-details {
    margin-bottom: 20px;
  }
  .testimonial__content-details p {
    font-size: 24px;
    line-height: 1.41;
  }
  .testimonial__content-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .testimonial__content-owner-name h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .testimonial__content-owner-name h4 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .testimonial .owl-carousel .owl-item img {
    display: block;
    width: 100% !important;
  }
  .testimonial .owl-nav {
    margin: 0;
    padding: 40px 0;
  }
  .testimonial .owl-nav .owl-prev {
    margin-right: 25px;
  }
  .testimonial .owl-nav .owl-prev i {
    padding: 15px;
  }
  .testimonial .owl-nav .owl-next {
    margin-left: 25px;
  }
  .testimonial .owl-nav .owl-next i {
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .testimonial-heading {
    margin-bottom: 25px;
  }
  .testimonial-heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .testimonial-heading img {
    margin-top: -29px;
    margin-left: 194px;
    max-width: 43%;
  }

  .testimonial__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .testimonial__content {
    padding: 0 0 0 50px;
    position: relative;
    z-index: 0;
  }
  .testimonial__content:before {
    top: -60px;
    left: 10px;
  }
  .testimonial__content-details {
    margin-bottom: 20px;
  }
  .testimonial__content-details p {
    font-size: 16px;
    line-height: 1.41;
  }
  .testimonial__content-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .testimonial__content-owner-name h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .testimonial__content-owner-name h4 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .testimonial .owl-carousel .owl-item img {
    display: block;
    width: 100% !important;
  }
  .testimonial .owl-nav {
    margin: 0;
    padding: 40px 0;
  }
  .testimonial .owl-nav .owl-prev {
    margin-right: 25px;
  }
  .testimonial .owl-nav .owl-prev i {
    padding: 15px;
  }
  .testimonial .owl-nav .owl-next {
    margin-left: 25px;
  }
  .testimonial .owl-nav .owl-next i {
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .testimonial-heading {
    margin-bottom: 15px;
  }
  .testimonial-heading h2 {
    font-size: 28px;
    line-height: 1.31;
  }
  .testimonial-heading img {
    margin-top: -29px;
    margin-left: 165px;
    max-width: 39%;
  }

  .testimonial__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .testimonial__content {
    padding: 0;
    position: relative;
    z-index: 0;
  }
  .testimonial__content:before {
    display: none;
  }
  .testimonial__content-details {
    margin-bottom: 20px;
  }
  .testimonial__content-details p {
    font-size: 16px;
    line-height: 1.41;
  }
  .testimonial__content-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .testimonial__content-owner-name h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .testimonial__content-owner-name h4 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .testimonial .owl-carousel .owl-item img {
    display: block;
    width: 100% !important;
  }
  .testimonial .owl-nav {
    margin: 0;
    padding: 40px 0;
  }
  .testimonial .owl-nav .owl-prev {
    margin-right: 25px;
  }
  .testimonial .owl-nav .owl-prev i {
    padding: 15px;
  }
  .testimonial .owl-nav .owl-next {
    margin-left: 25px;
  }
  .testimonial .owl-nav .owl-next i {
    padding: 15px;
  }
}
.projects-bg {
  background-color: #fff;
}

.projects-heading {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}
.projects-heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.31;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
}
.projects-heading img {
  margin-top: -29px;
  margin-left: 499px;
  max-width: 100%;
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 35px;
  position: relative;
}

.item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.item__details {
  display: block;
  position: relative;
}
.item__details:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.73%, rgba(0, 0, 0, 0.8)), color-stop(54.45%, rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 8.73%, rgba(196, 196, 196, 0) 54.45%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 0;
  left: 0;
  z-index: 2;
}
.item__details img {
  max-width: 100%;
}
.item__details-content {
  position: absolute;
  z-index: 3;
  bottom: 35px;
  left: 50px;
  color: #FFFFFF;
}
.item__details-content h3 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.41;
  text-transform: capitalize;
}
.item__details-content h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .projects-heading {
    margin-bottom: 60px;
  }
  .projects-heading h2 {
    font-size: 48px;
    line-height: 1.31;
  }
  .projects-heading img {
    margin-top: -29px;
    margin-left: 317px;
    max-width: 100%;
  }

  .item__details img {
    max-width: 100%;
  }
  .item__details-content {
    bottom: 35px;
    left: 50px;
  }
  .item__details-content h3 {
    font-size: 20px;
    line-height: 1.41;
  }
  .item__details-content h4 {
    font-size: 16px;
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .projects-heading {
    margin-bottom: 40px;
  }
  .projects-heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .projects-heading img {
    margin-top: -29px;
    margin-left: 230px;
    max-width: 22%;
  }

  .item__details img {
    max-width: 100%;
  }
  .item__details-content {
    bottom: 14px;
    left: 14px;
  }
  .item__details-content h3 {
    font-size: 20px;
    line-height: 1.41;
  }
  .item__details-content h4 {
    font-size: 16px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .projects-heading {
    margin-bottom: 30px;
  }
  .projects-heading h2 {
    font-size: 38px;
    line-height: 1.31;
  }
  .projects-heading img {
    margin-top: -29px;
    margin-left: 140px;
    max-width: 31%;
  }

  .item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .item__details img {
    max-width: 100%;
  }
  .item__details-content {
    bottom: 26px;
    left: 33px;
  }
}
@media (max-width: 600px) {
  .projects-heading {
    margin-bottom: 20px;
  }
  .projects-heading h2 {
    font-size: 28px;
    line-height: 1.31;
  }
  .projects-heading img {
    margin-top: -29px;
    margin-left: 178px;
    max-width: 22%;
  }

  .item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .item__details {
    margin: 0 35px;
  }
  .item__details img {
    max-width: 100%;
  }
  .item__details-content {
    bottom: 26px;
    left: 28px;
  }
  .item__details-content h3 {
    font-size: 20px;
  }
  .item__details-content h4 {
    font-size: 16px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .projects-heading {
    margin-bottom: 20px;
  }
  .projects-heading h2 {
    font-size: 28px;
    line-height: 1.31;
  }
  .projects-heading img {
    margin-top: -29px;
    margin-left: 107px;
    max-width: 30%;
  }

  .item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .item__details {
    margin: 0 30px;
  }
  .item__details img {
    max-width: 100%;
  }
  .item__details-content {
    bottom: 26px;
    left: 28px;
  }
  .item__details-content h3 {
    font-size: 20px;
  }
  .item__details-content h4 {
    font-size: 16px;
    line-height: 1;
  }
}
.footer-bg {
  background-color: white;
}

.footer {
  text-align: center;
}
.footer__heading {
  margin-bottom: 50px;
}
.footer__heading h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #FF5733;
}
.footer__address {
  margin-bottom: 10px;
}
.footer__address h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 18px;
  line-height: 1;
  color: #888888;
}
.footer__mail {
  margin-bottom: 10px;
}
.footer__mail h4 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-transform: lowercase;
  color: #222222;
}
.footer__phn {
  margin-bottom: 50px;
}
.footer__phn span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 18px;
  line-height: 1;
  color: #888888;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-transform: capitalize;
}
.footer__social a {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #222222;
  text-decoration: none;
}
.footer__social a:hover {
  color: #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1199px) {
  .footer__heading {
    margin-bottom: 40px;
  }
  .footer__heading h2 {
    font-size: 22px;
    line-height: 1;
  }
  .footer__address {
    margin-bottom: 10px;
  }
  .footer__address h3 {
    font-size: 16px;
    line-height: 1;
  }
  .footer__mail {
    margin-bottom: 10px;
  }
  .footer__mail h4 {
    font-size: 42px;
    line-height: 1.2;
  }
  .footer__phn {
    margin-bottom: 40px;
  }
  .footer__phn span {
    font-size: 16px;
    line-height: 1;
  }
  .footer__social {
    gap: 30px;
  }
  .footer__social a {
    font-size: 14px;
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .footer__heading {
    margin-bottom: 40px;
  }
  .footer__heading h2 {
    font-size: 22px;
    line-height: 1;
  }
  .footer__address {
    margin-bottom: 10px;
  }
  .footer__address h3 {
    font-size: 16px;
    line-height: 1;
  }
  .footer__mail {
    margin-bottom: 10px;
  }
  .footer__mail h4 {
    font-size: 42px;
    line-height: 1.2;
  }
  .footer__phn {
    margin-bottom: 40px;
  }
  .footer__phn span {
    font-size: 16px;
    line-height: 1;
  }
  .footer__social {
    gap: 30px;
  }
  .footer__social a {
    font-size: 14px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .footer__heading {
    margin-bottom: 30px;
  }
  .footer__heading h2 {
    font-size: 18px;
    line-height: 1;
  }
  .footer__address {
    margin-bottom: 10px;
  }
  .footer__address h3 {
    font-size: 16px;
    line-height: 1;
  }
  .footer__mail {
    margin-bottom: 10px;
  }
  .footer__mail h4 {
    font-size: 32px;
    line-height: 1.2;
  }
  .footer__phn {
    margin-bottom: 40px;
  }
  .footer__phn span {
    font-size: 16px;
    line-height: 1;
  }
  .footer__social {
    gap: 30px;
  }
  .footer__social a {
    font-size: 14px;
    line-height: 1;
  }
}
@media (max-width: 600px) {
  .footer__heading {
    margin-bottom: 30px;
  }
  .footer__heading h2 {
    font-size: 18px;
    line-height: 1;
  }
  .footer__address {
    margin-bottom: 10px;
  }
  .footer__address h3 {
    font-size: 16px;
    line-height: 1;
  }
  .footer__mail {
    margin-bottom: 10px;
  }
  .footer__mail h4 {
    font-size: 32px;
    line-height: 1.2;
  }
  .footer__phn {
    margin-bottom: 40px;
  }
  .footer__phn span {
    font-size: 16px;
    line-height: 1;
  }
  .footer__social {
    gap: 30px;
  }
  .footer__social a {
    font-size: 14px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .footer__heading {
    margin-bottom: 30px;
  }
  .footer__heading h2 {
    font-size: 18px;
    line-height: 1;
  }
  .footer__address {
    margin-bottom: 10px;
  }
  .footer__address h3 {
    font-size: 16px;
    line-height: 1;
  }
  .footer__mail {
    margin-bottom: 10px;
  }
  .footer__mail h4 {
    font-size: 32px;
    line-height: 1.2;
  }
  .footer__phn {
    margin-bottom: 40px;
  }
  .footer__phn span {
    font-size: 16px;
    line-height: 1;
  }
  .footer__social {
    gap: 30px;
  }
  .footer__social a {
    font-size: 14px;
    line-height: 1;
  }
}
.copyright-bg {
  background-color: white;
  border-top: 1px solid #E7E7E7;
}

.area-title {
  text-align: center;
  text-transform: capitalize;
}
.area-title p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500 -100;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 0;
  color: #888888;
}
.area-title p a {
  text-decoration: none;
  color: #888888;
}
.area-title p a:hover {
  color: #FF5733;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}